<!DOCTYPE html>

<html style="background-image:url(../Images/background.jpg);">

	<head>
		<title> DB 2017-18 </title>
		
		<link type="text/css" rel="stylesheet" href="../CSS/stylesheet_homepage.css"/>
		<link rel="icon" href="../Images/favicon.png"/>
		
	</head>

	<body>
	
		<p style="font-size:70px;text-align:center;color:darked;
		font-family:Segoe UI">View:</p>
		<table align="center">

			<tr>
				<td>
					<a href="Rooms_per_City.php"
					button class="hover_button" 
					style="width:50% center"
					>
					Available Rooms</a>
				</td>
				<td>
					<a href="Capacity.php"
					button class="hover_button" 
					style="width:70% center"
					>
					Rooms' Capacity </a>
				</td>
			</tr>
		</table>
	</body>

</html>
